@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth;
  }

  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply m-0 font-sans antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  li {
    @apply font-semibold;
  }
}

@layer utilities {
  .scroll-smooth {
    scroll-behavior: smooth;
  }
}
